

<!-- This is an un-minified, complete version of Modernizr.
     Before you move to production, you should generate a custom build that only has the detects you need. -->
<script src="js/libs/modernizr-2.7.1.dev.js"></script>

<!-- Lea Verou's Prefix Free, lets you use un-prefixed properties in your CSS files -->
<script src="js/libs/prefixfree.min.js"></script>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write( "<script src='js/libs/jquery-1.11.0.min.js'>\x3C/script>" )</script>

<!-- this is where we put our custom functions -->
<!-- don't forget to concatenate and minify if needed -->
<script src="js/functions.js"></script>

<!-- Asynchronous google analytics; this is the official snippet.
     Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.

<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXX-XX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->

<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'IM+Fell+English::latin', 'Open+Sans:400italic,400,300,700:latin' ] }
    };
    ( function() {
        var wf = document.createElement( 'script' );
        wf.src = ( 'https:' == document.location.protocol ? 'https' : 'http' ) +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName( 'script' )[0];
        s.parentNode.insertBefore( wf, s );
    })();
</script>
